.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: #191919;

  header {
    background-color: #2d4263;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .board-container {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex-grow: 1;
    }

    .keyboard-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
}
